@keyframes menu-entrance{
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes exit-menu{
  0%{
    opacity: 100;
    transform: translateY(0px);
  }
  100%{
    opacity: 0;
    transform: translateY(-50px);
  }
}

::selection{
  background-color: #F6F1DE;
  color: black;
}
::-moz-selection{
  background-color: #F6F1DE;
  color: black;
}

body{
  color: white;
  background-color: #3E3F5B;
}

p,h1{
  cursor: text;
}
p:scope,h1:scope{
  background-color: #F6F1DE;
  color: black;
}

fieldset{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
  
  align-items: center;
  justify-content: center;
  
  border-radius: 20px;
  border-color: rgb(from #8AB2A6 r g b / 0.4);
}
fieldset#operator-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input[type="text"], input[type="number"]{
  padding: 3px;
  border-style: solid;
  border-radius: 6px;
  border-color: transparent;
  
  cursor: text;
}
input[type="checkbox"]{
  accent-color: #F6F1DE;
  cursor: pointer;
}
input[type="number"]:focus, input[type="text"]:focus{
  outline-color: #F6F1DE;
}

section{
  background-color: #ACD3A8;
  color: black;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  
  margin-top: 2vh;
  
  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

button{
  width: fit-content;
  margin-left: auto;
  
  border-radius: 10px;
  border-style: none;
  
  background-color: transparent;
  
  color: black;
}
button:hover{
  background-color: color-mix(in srgb, #ACD3A8, black 10%);
}

#everything{
  max-width: 500px;
  margin: 2vh auto;
  
  font-family: Arial;
  height: 100vh;
}

#decimal-places-input{
  display: none;
}

#menu-reveal-text{
  margin-right: auto;
  width: 100%;
}

#menu{
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  animation-name: menu-entrance;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}


#progress-section{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
}
#progress-text{
  display: flex;
}
#progress-bar{
  accent-color: grey;
}

#equation-holder{
  padding: 10px;
}
/*stops the equation text from breaking ui layout if too long*/
#equation-text{
  word-break: break-word;
  word-wrap: break-word;
}

#answer-section{
  gap: 0px;
}
#feedback-text{
  margin-right: auto;
}
#check-answer-button{
  width: fit-content;
}


/*class(es) for transitions*/
.has-transition{
  transition-property: all;
  transition-duration: 0.3s;
}

/*class(es) for animations*/
.menu-exit #menu{
  
  animation-name: exit-menu;
  animation-duration: 0.3s;
  animation-fill-mode: forwards,
}

.dP-input-enter{
  animation-name: menu-entrance;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.dP-input-exit{
  animation-name: exit-menu;
  animation-duration: 0.3s;
  animation-fill-mode: forwards,
}

.interactable{
  cursor: pointer;
}
